*{
    box-sizing:border-box;
    margin:0;
}
body{
    background-color:black;
}
.container{
    font-family: 'Roboto', sans-serif;
    /*height:90vh;*/
    width:95vw;
    padding:3%;
    background-color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
header{
    color:#389598;
    height:100px;
    position:relative;
    margin: bottom 5px;
}
.title{
    position:absolute;
    bottom:0;
    width:100%;
}
.title>h1{
    float:left;
    color:black;
}
.title>h3{
    float:right;
}
main{
    clear:both;
    content:"";
    display:table;
    margin:auto;
}
section{
    height:180px;
    width:18%;
    margin-top:40px;
    float:left;
    margin-right:1%;
    margin-left:1%;
    
}
section>div{
    margin-bottom:5px;
}
section>.name{
    font-size:20px;
}
section>.number{
    color:grey;
}
.picture{
    height:80%;
    width:100%;
    background-size:cover;
    background-position:center;
}
.album1 .picture{
    background-image:url(https://www.liberopensiero.eu/wp-content/uploads/2021/05/535baeeb-a332-49f9-853f-1efad5527b34.jpg);

}
.album2 .picture{
    background-image:url(https://ilquotidianoinclasse.ilsole24ore.com/wp-content/uploads/2017/03/3903161801c977c562bcc9a87628201a4.jpg);
}
.album3 .picture{
    background-image:url(https://static2-viaggi.corriereobjects.it/wp-content/uploads/2020/03/yellowstone-1-1080x720.jpg?v=375875);
}
.album4 .picture{
    background-image:url(https://media.rds.it/web/wp-content/uploads/2021/04/parco-green-list.jpg);
}
.album5 .picture{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTddd-ja27XO3wLKkAOBaJ7TQmh1Q5kKbkyN_nLGQfy0Y5TXPwB4zFCDuirtx5z6TFTQRo&usqp=CAU);
}
.album6 .picture{
    background-image:url(http://www.massimomarchioro.it/wp-content/uploads/2019/04/arte-natura-massimo-marchioro.jpg);
}
.album7 .picture{
    background-image:url(https://gognablog.sherpa-gate.com/wp-content/uploads/2020/03/diritti-della-natura-NSTITUT_DU_VERBE_INCARNE_ASCENSION-3.jpg);
}
.album8 .picture{
    background-image:url(https://i.pinimg.com/474x/b2/5c/ca/b25ccac9112fb5de8cb53831d882ebd3.jpg);
}
.album9 .picture{
    background-image:url(https://www.scienzaeconoscenza.it/data/blog/fb_resolution/d/deficit-di-natura.jpg);
}
.album10 .picture{
    background-image:url(https://www.repstatic.it/content/nazionale/img/2018/10/17/152249041-f8468e1f-bef5-4aaa-866c-bcfd98fcd3d9.jpg);
}
.album11 .picture{
    background-image:url(https://cdn.onb.it/2021/01/natura.jpg);
}
.album12 .picture{
    background-image:url(https://www.donnad.it/sites/default/files/styles/foglia_569x321/public/201925/natura-citazioni.jpg?itok=vIUBaLzF);
}